@import "tailwindcss";

@layer base {
    .scrollable::-webkit-scrollbar {
        @apply h-2 w-2 bg-neutral-800;
    }

    .scrollable::-webkit-scrollbar-track {
        @apply my-1 rounded-full bg-neutral-800;
    }

    .scrollable::-webkit-scrollbar-thumb {
        @apply rounded-full bg-neutral-600 hover:bg-neutral-500;
    }

    .dark .scrollable::-webkit-scrollbar {
        @apply bg-neutral-800;
    }

    .dark .scrollable::-webkit-scrollbar-track {
        @apply bg-neutral-800;
    }

    .dark .scrollable::-webkit-scrollbar-thumb {
        @apply bg-neutral-600 hover:bg-neutral-500;
    }

    @supports (scrollbar-color: darkgray lightgray) {
        .scrollable {
            scrollbar-width: thin;
            scrollbar-color: var(--color-neutral-200) var(--color-neutral-400);
        }

        .dark.scrollable,
        .dark .scrollable {
            scrollbar-color: var(--color-neutral-800) var(--color-neutral-600);
        }
    }
}

@theme {
    --font-josefin: "Josefin Sans", "sans-serif";
    --font-montserrat: "Montserrat", "sans-serif";

    --text-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
    --text-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
    --text-lg: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
    --text-xl: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
    --text-2xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
    --text-3xl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
    --text-4xl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
    --text-5xl: clamp(3.81rem, 5.18vi + 2.52rem, 6.66rem);
    --text-6xl: clamp(4.77rem, 7.48vi + 2.9rem, 8.88rem);

    --animate-slide1: slideOutBackIn 21s ease-in-out infinite;
    --animate-slide2: slideInOutBack 21s ease-in-out infinite;
    --animate-slide3: slideBackInOut 21s ease-in-out infinite;
    --animate-slide-text: slideText 21s ease-in-out infinite;
    --animate-slide-in: slideIn 1s ease-in-out 5s forwards;
    --animate-slide-out: slideOut 1s ease-in-out 5s forwards;
    --animate-slide-back: slideBack 1s ease-in-out 5s forwards;

    @keyframes slideText {

        0%,
        100% {
            transform: translateX(0)
        }

        30% {
            transform: translateX(0)
        }

        33.3% {
            transform: translateX(calc(100cqw - 100%))
        }

        63.3% {
            transform: translateX(calc(100cqw - 100%))
        }

        66.6% {
            transform: translateX(0)
        }

        96.6% {
            transform: translateX(0)
        }
    }

    @keyframes slideOutBackIn {

        0%,
        100% {
            transform: translateX(0);
            opacity: 1;
        }

        30% {
            transform: translateX(0);
            opacity: 1;
        }

        33.3% {
            transform: translateX(100%);
            opacity: 1;
        }

        63.3% {
            transform: translateX(100%);
            opacity: 0;
        }

        66.6% {
            transform: translateX(-100%);
            opacity: 0;
        }

        96.6% {
            transform: translateX(-100%);
            opacity: 1;
        }
    }

    @keyframes slideInOutBack {

        0%,
        100% {
            transform: translateX(-100%);
            opacity: 0;
        }

        30% {
            transform: translateX(-100%);
            opacity: 1;
        }

        33.3% {
            transform: translateX(0);
            opacity: 1;
        }

        63.3% {
            transform: translateX(0);
            opacity: 1;
        }

        66.6% {
            transform: translateX(100%);
            opacity: 1;
        }

        96.6% {
            transform: translateX(100%);
            opacity: 0;
        }
    }

    @keyframes slideBackInOut {

        0%,
        100% {
            transform: translateX(100%);
            opacity: 1;
        }

        30% {
            transform: translateX(100%);
            opacity: 0;
        }

        33.3% {
            transform: translateX(-100%);
            opacity: 0;
        }

        63.3% {
            transform: translateX(-100%);
            opacity: 1;
        }

        66.6% {
            transform: translateX(0);
            opacity: 1;
        }

        96.6% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideIn {

        0%,
        100% {
            opacity: 1
        }

        from {
            transform: translateX(-100%)
        }

        to {
            transform: translateX(0)
        }
    }

    @keyframes slideOut {

        0%,
        100% {
            opacity: 1
        }

        from {
            transform: translateX(0)
        }

        to {
            transform: translateX(100%)
        }
    }

    @keyframes slideBack {

        0%,
        100% {
            opacity: 0
        }

        from {
            transform: translateX(100%)
        }

        to {
            transform: translateX(-100%)
        }
    }
}