@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.scrollable::-webkit-scrollbar {
		@apply h-2 w-2 bg-neutral-800;
	}
	.scrollable::-webkit-scrollbar-track {
		@apply my-1 rounded-full bg-neutral-800;
	}
	.scrollable::-webkit-scrollbar-thumb {
		@apply rounded-full bg-neutral-600 hover:bg-neutral-500;
	}
	.dark .scrollable::-webkit-scrollbar {
		@apply bg-neutral-800;
	}
	.dark .scrollable::-webkit-scrollbar-track {
		@apply bg-neutral-800;
	}
	.dark .scrollable::-webkit-scrollbar-thumb {
		@apply bg-neutral-600 hover:bg-neutral-500;
	}
	@supports (scrollbar-color: darkgray lightgray) {
		.scrollable {
			scrollbar-width: thin;
			scrollbar-color: theme(colors.neutral.200) theme(colors.neutral.400);
		}
		.dark.scrollable,
		.dark .scrollable {
			scrollbar-color: theme(colors.neutral.800) theme(colors.neutral.600);
		}
	}
}
