<p class="text-pretty px-4 text-neutral-50 md:max-w-[75%] md:px-0 lg:max-w-[50%]">
	Thomas is a Toronto based actor, singer, director and playwright. He's a graduate of the TMU
	School of Performance's BFA Acting program. Past roles include: Charles McCarty in
	<span class="italic">The Cavan Blazers</span> at 4th Line Theatre (2023); Shane Donegal in
	<span class="italic">The Great Shadow</span> at 4th Line Theatre (2022); Jerry/Dale in
	<span class="italic"> Indisposable</span> at the Grandview Theatre (2021); King in
	<span class="italic">Street Hamlet</span> at Emergence Theatre (2020); Jamie in
	<span class="italic">The Last Five Years</span> at Why Not Theatre Kelowna (2019); Hedwig in
	<span class="italic">Hedwig and the Angry Inch</span> at the Fred Skeleton Theatre Company (2018)
</p>
