<p class="text-pretty px-4 text-neutral-50 md:max-w-[75%] md:px-0 lg:max-w-[50%]">
	Thomas is a storyteller, actor, singer, playwright, and director based in Toronto. Growing up in
	the local theatre scene in Kelowna, BC, Thomas developed a passion for portraying deeply flawed,
	yet relatable, characters navigating through challenging circumstances. He encourages community
	and collaboration in all his work, as he finds this approach to be the most rewarding and
	fulfilling way to make art. Thomas has a “<span class="italic">no stone unturned</span>” outlook
	on storytelling, bringing these tales to life through voice, movement, music, symbolism, and above
	all... character.
</p>
