---
import NcaLogo from "../assets/nca-talent-logo.svg"
---

<section
	id="contact"
	class="grid w-full snap-start place-items-center bg-neutral-700 py-24 lg:py-32"
>
	<div class="grid place-items-center gap-2 text-neutral-100">
		<a
			href="/thomas-fournier.pdf"
			class="py-12 text-lg text-pretty hover:underline hover:underline-offset-4">Résumé</a
		>
		<a href="https://ncatalent.ca/" target="agent">
			<NcaLogo class="m-2 w-12 bg-neutral-100 p-2" /></a
		>
		<div>
			<a class="underline-offset-4 hover:underline" href="https://ncatalent.ca/" target="agent"
				>Noble Caplan Abrams</a
			>
		</div>
		<div>
			Agent: <a
				class="underline-offset-4 hover:underline"
				href="mailto:rgerrits@ncatalent.com?subject=Thomas%20Fournier">Rick Gerrits</a
			>
		</div>
		<div><a href="tel:4169205385">416-920-5385</a></div>
	</div>
</section>
